@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
body {
  font-family: "Poppins", Verdana, sans-serif;
  padding: 3rem;
  font-size: 1.5rem;
  color: rgb(27, 10, 54);
}

h1 {
  font-weight: 600;
  font-size: 3.4rem;
}
p {
  font-weight: 300;
  display: inline;
}
a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: rgb(61, 18, 139);
}
a::after {
  content: "";
  background: rgba(98, 73, 190, 0.11);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(197, 205, 226);
    background: rgb(31, 29, 34);
  }
  a {
    color: rgb(191, 162, 247);
  }
  a::after {
    background: rgba(215, 208, 240, 0.11);
  }
}
